.nav-link{
  color:white;
}


.col
{
  color:white;
  font-weight: bold;


}
img
{
  height:300px;
  width:500px;
  border:white groove 3px;

}
#scrollspyHeading3
{
  margin-left:30px;
  margin-right:30px;
}
.row p
{

  margin-top:20px;
}
h1
{
  margin-bottom:10px;
}
#scrollspyHeading2
{

background:rgba(252, 227, 3);
}
#scrollspyHeading4
{
  margin-left:30px;
  margin-right:30px;
}
